
.has-bg-img {
  background: url('https://github.com/UnAngelLily/portfolio/blob/main/public/images/livingroomsllc.jpg?raw=true') center center;
  background-size:cover;
}

a:link{
  color:#884dff;
}
a:visited{
  color:#00bd93;
}
a:hover{
  color:#009973;
}
a:focus{
  color:#0052cc;
}
a:active{
  color:magenta;
}

footer {
 height:200px;
}
